.root {
    -fx-base: #333333;
    -fx-background: #333333;
    -fx-text-fill: #ffffff;
}

.button {
    -fx-background-color: #014ba5;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-color: #022c87;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0, 0, 2);
    -fx-transition: all 0.3s ease;
}

.button:hover {
    -fx-background-color: #022c87;
    -fx-text-fill: black;
}

.button:pressed {
    -fx-background-color: #022c87;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 1);
    -fx-translate-y: 2px;
}

.vbox {
    -fx-background: #333333;
}

.box-padding {
    -fx-padding: 20px;
}


.label-title-big {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
}

.label-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #efefef;
}

.menu-bar{
    -fx-font-size: 14px;
    -fx-background-color: #000;
    -fx-text-fill: #fff;
    -fx-padding:5px 0;
}

.panel-left, .panel-right {
    -fx-padding: 15px;
}


.input-field, .combo-box {
     -fx-padding: 6;
        -fx-background-radius: 6;
        -fx-border-radius: 6;
        -fx-border-color: #333;
        -fx-background-color: #ccc;
        -fx-text-fill: #000;
}

.data-table {
    -fx-border-color: #7f8c8d;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-table-cell-border-color: transparent;
    -fx-selection-bar: #7f8c8d;
}

.action-btn {
    -fx-border: none !important;
    -fx-border-width: 0px !important;
    -fx-background-radius: 6;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-width: 100;
    -fx-font-size:14px;
    -fx-background-color: #666 !important;
}

.action-green {
    -fx-border: none !important;
    -fx-border-width: 0px !important;
    -fx-background-radius: 6;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-width: 100;
    -fx-font-size:14px;
    -fx-background-color: #ccc;
    -fx-background-color: #28a745 !important;
}

.action-blue {
     -fx-border: none !important;
     -fx-border-width: 0px !important;
    -fx-background-radius: 6;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-width: 100;
    -fx-font-size:14px;
    -fx-background-color: #ccc;
    -fx-background-color: #007bff !important;
}

.action-red {
    -fx-border: none !important;
    -fx-border-width: 0px !important;
    -fx-background-radius: 6;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-width: 100;
    -fx-font-size:14px;
    -fx-background-color: #ccc;
    -fx-background-color: #dc3545 !important;
}

.action-yellow {
    -fx-border: none !important;
    -fx-border-width: 0px !important;
    -fx-background-radius: 6;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-width: 100;
    -fx-font-size:14px;
    -fx-background-color: #ccc;
    -fx-background-color: #f2ba06 !important;
}

.utility-btn {
    -fx-background-color: #95a5a6;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
}

.utility-btn.logout {
    -fx-background-color: #7f8c8d;
}

.panel-headerbg {
    -fx-background-color: #333333;
    -fx-padding: 10;
}

.footer {
    -fx-background-color: #ecf0f1;
    -fx-padding: 12px;
}

.footer-txt {
    -fx-text-fill: black;
    -fx-font-size: 11px;
}